In [23]:
# Practice Exercise-1 to test even or odd

number = int(input("Enter a number to test: "))
if number % 2 > 0: 
    print ("odd")
else:
    print("even")

Enter a number to test: 4
even

In [25]:
# Practice Exercise-1 to test even or odd with a for loop

for number in range(int(input("Enter a number to test: "))):
    print(number)
    if number % 2 > 0: 
        print(": odd")
    else:
        print(": even")

Enter a number to test: 4
0
: even
1
: odd
2
: even
3
: odd

In [ ]:
# Exercise-1

n = 0
while n < 100:
    n = n + 1
    print(n)

In [ ]:
# Exercise-2

for number in range(1, 101):
    print(number)

In [21]:
# Exercise-3

lst1 = ["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]

for lst2 in lst1:
    print(lst2)

Joe
Sarah
Mike
Jess

Matt

Greg